/** FOR TABLETS **/
@media screen and (max-width:800px) {
    
}

/** FOR MOBILE PHONES **/
@media screen and (max-width:500px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block !important;
    }
    .topnav.responsive {
        position: relative;
        height: 300px;
        display: flex;
        flex-direction: column !important;
        background-color: black;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block !important;
        text-align: left;
    }
}