/** FOR TABLETS **/
@media screen and (max-width:800px) {
  body {
    grid-template-rows: 60px 200px auto 200px !important;
    grid-template-columns: auto !important;
  }
  nav {
    justify-content: space-between !important;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block !important;
  }
  .topnav.responsive {
    position: fixed;
    height: 400px;
    display: flex;
    flex-direction: column !important;
    background-color: black;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block !important;
    text-align: left;
  }
  .main {
    padding: 10px !important;
  }
  footer {
    flex-direction: column !important;
  }
  footer p {
    order: 1;
    margin: 0 !important;
  }
  footer img {
    order: 2;
  }
  footer div {
    order: 3;
  }
  .footer-logos div {
    text-align: center !important;
  }
}

/** FOR MOBILE PHONES **/
@media screen and (max-width:500px) {
}
