/** FOR TABLETS **/
@media screen and (max-width:800px) {
  nav {
    justify-content: space-between;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block !important;
  }
  .topnav.responsive {
    position: relative;
    height: 400px;
    display: flex;
    flex-direction: column !important;
    background-color: black;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block !important;
    text-align: left;
  }

}

/** FOR MOBILE PHONES **/
@media screen and (max-width:500px) {
}
