<footer>
  <script>
    let date = new Date()
    let currentYear = date.getFullYear()
  </script>

  <a href="{{ site.url }}{{ site.baseurl }}/index.html"><img src="{{ site.url }}{{ site.baseurl }}/img/logo_portfolio.PNG" alt="logo"/></a>

  <p class="footer-text">
    2018-<script>document.write(currentYear)</script> | Portfolio de Karla Pérez
  </p>

  <div class="footer-logos">
    <div>Hébergé par GitHub <a href="https://github.com/karlaprzbr/Portfolio" target="_blank"><i class="fab fa-github-alt"></i></a></div>
    <div>Retrouvez-moi sur LinkedIn <a href="https://www.linkedin.com/in/karla-perez-brugues/" target="_blank"><i class="fab fa-linkedin"></i></a></div>
  </div>
</footer>
