<nav class="topnav" id="myTopnav">
  <a href="{{ site.url }}{{ site.baseurl }}/index.html" class="active">ACCUEIL</a>
  <a href="{{ site.url }}{{ site.baseurl }}/stages.html">STAGES</a>
  <a href="{{ site.url }}{{ site.baseurl }}/ppe.html">PPE</a>
  <a href="{{ site.url }}{{ site.baseurl }}/cv.html">CV</a>
  <!-- <a href="#COMPETENCES">COMPETENCES</a> -->
  <a href="{{ site.url }}{{ site.baseurl }}/veille-techno.html">VEILLE TECHNOLOGIQUE</a>
  <a href="javascript:void(0);" class="icon" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <script src="{{ site.url }}{{ site.baseurl }}/js/openNav.js"></script>
</nav>

<header>
    <h1>PORTFOLIO DE KARLA PEREZ</h1>
</header>
