<!DOCTYPE html>
<html>
<title>CV de Karla Pérez</title>
<meta charset="UTF-8">
<link rel="icon" href="{{ site.url }}{{ site.baseurl }}/img/logo_portfolio.PNG" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- <h2 class="w3-text-grey" style="background-color: white; box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); margin: 9px; padding: 5px 15px;">RETOUR</h2> -->
    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <!-- <div class="w3-display-container">
          <img src="img\bureau-travail.jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Jane Doe</h2>
          </div>
        </div> -->
        <div class="w3-container">
          <h1>KARLA PEREZ</h1>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Etudiante en informatique</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Vélizy-Villacoublay, Yvelines</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>karla.perezbrugues@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>06 69 24 86 34</p>
          <p><a href="https://karlaprzbr.github.io/Portfolio" style="text-decoration:none;"><i class="fas fa-globe fa-fw w3-margin-right w3-large w3-text-teal"></i>karlaprzbr.github.io/Portfolio</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Compétences</b></p>
          <p>HTML / CSS</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
          </div>
          <p>C#</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">
              <div class="w3-center w3-text-white">50%</div>
            </div>
          </div>
          <p>PHP</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">40%</div>
          </div>
          <p>SQL</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">40%</div>
          </div>
          <p>JavaScript</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">40%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fas fa-globe-americas fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>Espagnol</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>Anglais</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Expérience Professionnelle</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Développeur web (stage) ~ Airthium</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Février 2019</h6>
          <p>
            - Intégration HTML / CSS<br>
            - Programmation en JavaScript<br>
            - Création d'un template pour le générateur de documentation SPHINX<br>
            - Utilisation de Jekyll et de GitHub
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Développeur (stage) ~ Renault Digital</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Novembre 2018</h6>
          <p>
            - Programmation en Java<br>
            - Production de scripts en Groovy<br>
            - Utilisation de l'outil NiFi
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Développeur (stage) ~ Meteojob</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Juillet 2018</h6>
          <p>
            - Annotation de corpus<br>
            - Conception de fonctionnalités<br>
            - Programmation en Java
          </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-laptop-code fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projets Techniques</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Site web de ventes privées ~ Groupe GEFOR</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mars / Avril 2019</h6>
          <p>
            - Création de la base de données à l'aide de PhpMyAdmin et de MySQL<br>
            - Conception de l'interface graphique en HTML, CSS et JavaScript<br>
            - Productions de scripts PHP pour relier la base de données au site web
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Logiciel de gestion de parc informatique ~ Groupe GEFOR</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Décembre 2018 / Janvier 2019</h6>
          <p>
            - Création de la base de données sur SQL Server Management Studio 2017<br>
            - Conception de l'interface graphique en C# à l'aide des Windows Forms du framework .NET
          </p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fas fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Formation</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>BTS Services Informatiques aux Organisations</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2018 - 2019</h6>
          <p>Groupe GEFOR</p>
          <p style="font-style:italic;">En un an dans le cadre d'un congé individuel de formation (CIF)</p>
        </div><br>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Retrouvez-moi sur les réseaux sociaux</p>
  <i class="fab fa-pinterest w3-hover-opacity"></i>
  <i class="fab fa-linkedin w3-hover-opacity"></i>
  <i class="fab fa-github-alt w3-hover-opacity"></i>
</footer>

</body>
</html>
