<!doctype>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="main">
            <h1>Bienvenue sur mon portfolio</h1>
            <p>
              Je m’appelle Karla Pérez, je suis actuellement en BTS Services Informatiques aux Organisations option Solutions Logicielles et Applications Métiers dans le cadre d’une reconversion professionnelle.
            </p>
            <p>
              Ce portfolio a pour but d’exposer les différents travaux menés au cours de ma formation ainsi que de présenter les différentes missions qui m’ont été confiées durant mes stages.
            </p>
            <p>
              Vous pourrez trouver toutes ces informations, ainsi que mon curriculum vitae.
            </p>
            <p>
              Bonne lecture !
            </p>
            <h1>La formation</h1>
            <p>
              Le BTS SIO est un diplôme de niveau bac+2  dans le domaine de l’informatique. Il propose deux filières différentes :
            </p>
            <ul>
              <li>
                La filière SISR, qui regroupe toutes les techniques d’administration système et réseau ;
              </li>
              <li>
                La filière SLAM, qui est orientée sur le développement de logiciels informatiques et d’applications web.
              </li>
            </ul>
            <p>
              Pour ma part, j’ai choisi l’option SLAM, Solutions Logicielles et Applications Métiers. En choisissant cette option, j’ai serai formée à développer, adapter et faire la maintenance de solutions applicatives.
            </p>
            <p>
              Une fois titulaire de cette option, je serai en mesure d’analyser les besoins des utilisateurs, rechercher et choisir une solution adaptée, concevoir et développer une application et assurer la maintenance des programmes métiers.
            </p>
        </div>

        {% include footer.html %}
    </body>
</html>
