<!doctype>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="main ppe">
            <h1>Projet GestionMatos</h1>
            <h3>Objet :</h3>
            <p>
                Production d’un logiciel de gestion de parc informatique pour le compte du client.
            </p>
            <h3>Introduction :</h3>
            <p>
                Dans le cadre de son activité, la société SIME, dirigée par Simon Gazet, souhaite proposer à ses clients un logiciel de gestion de parc informatique. Après une étude du marché, SIME estime que ses clients sont de plus en plus nombreux à gérer eux-mêmes leur parc informatique et souhaite donc leur proposer un logiciel leur permettant de simplifier les procédures liées à la gestion des interventions.
            </p>
            <h3>Contraintes :</h3>
            <ul>
                <li>Utilisation du contexte technique</li>
                <li>Respect du délai de réalisation</li>
            </ul>
            <h3>Etapes de réalisation :</h3>
            <ul>
                <li><span class="undLn">Etape 1</span> : Création de la base de données sur SQL Server Management Studio 2017</li>
                <li><span class="undLn">Etape 2</span> : Création de l’interface graphique pour les utilisateurs en C# à l’aide des Windows Forms du framework .NET</li>
                <li><span class="undLn">Etape 3</span> : Liaison de la base de données à l’interface graphique</li>
                <li><span class="undLn">Etape 4</span> : Mise en place de tests unitaires et d’intégration afin de vérifier que tous les composants du logiciel fonctionnent correctement indépendamment et de façon globale.</li>
            </ul>
            <h3>Résultat de l'activité :</h3>
            <p>
                Le service est opérationnel et livré avec 2 semaines de retard.
            </p>
            <h3>Impact du nouveau service sur l'organisation cliente :</h3>
            <p>
                Ce service permettra à notre client d’optimiser et d'accélérer la gestion des interventions sur le parc informatique.
            </p>
            <h3>Analyse critique sur la démarche et les résultats :</h3>
            <ul>
                <li>Les délais de réalisation du projet étaient trop courts, nous avons dû effectuer une grande partie du travail sur notre temps personnel.</li>
                <li>Les délais ont été dépassés car nous avons dû faire des recherches personnelles afin d’acquérir les compétences pour mener à terme le projet.</li>
                <li>Certains modules ont dû être conçus plusieurs fois car nous n’avions pas l’approche adéquate d’entrée de jeu.</li>
            </ul>
            <h3>Ma participation à la réalisation de ce projet m'a permis :</h3>
            <ul>
                <li>De travailler en équipe</li>
                <li>De travailler avec la contrainte du temps</li>
                <li>De m'autoformer à de nouvelles technologies</li>
            </ul>
            <hr>
            <h1>Projet FringuesVP</h1>
            <h3>Objet :</h3>
            <p>
                Production d’une application web de ventes privées pour le compte du client.
            </p>
            <h3>Introduction :</h3>
            <p>
               Dans le cadre de son activité, la société SIME, dirigée par Simon Gazet, a été sollicitée pour produire une application web de vente privées de vêtements et d'accessoires d’occasion. Son client FringuesFoly, possédant à l’heure actuelle trois boutiques, une à Paris, une à La Baule et une à Evian-les-Bains, a fait appel à la société SIME en vue d’étendre son activité à la vente de vêtements en ligne.
            </p>
            <h3>Contraintes :</h3>
            <ul>
                <li>Utilisation du contexte technique</li>
                <li>Respect du délai de réalisation</li>
            </ul>
            <h3>Etapes de réalisation :</h3>
            <ul>
                <li><span class="undLn">Etape 1</span> : Création de l’interface graphique pour les utilisateurs à l’aide des langages HTML, CSS et JavaScript.</li>
                <li><span class="undLn">Etape 2</span> : Création de la base de données à l’aide de PhpMyAdmin et du langage MySQL.</li>
                <li><span class="undLn">Etape 3</span> : Vérification des données saisies par l’utilisateur par le biais de scripts PHP.</li>
                <li><span class="undLn">Etape 4</span> : Mise en place de tests unitaires et d’intégration afin de vérifier que l’application web fonctionne correctement sur toutes les plateformes (Chrome, Firefox, Safari, Edge).</li>
            </ul>
            <h3>Résultat de l'activité :</h3>
            <p>
              Le service est opérationnel et livré avec un peu de retard.
            </p>
            <h3>Impact du nouveau service sur l'organisation cliente :</h3>
            <p>
                Ce service permettra à notre client de proposer à son public un service de vente et d’achat de vêtements en ligne, ce qui lui permettra également d’élargir son domaine d’activité.
            </p>
            <h3>Analyse critique sur la démarche et les résultats :</h3>
            <ul>
                <li>Les délais de réalisation du projet étaient trop courts, nous avons dû effectuer une grande partie du travail sur notre temps personnel.</li>
                <li>Les délais ont été dépassés car nous avons dû faire des recherches personnelles afin de maîtriser les différentes technologies requises pour ce projet, à savoir HTML, CSS, JavaScript, PHP et MySQL.</li>
            </ul>
            <h3>Ma participation à la réalisation de ce projet m'a permis :</h3>
            <ul>
                <li>De travailler en équipe</li>
                <li>D’enrichir mes compétences dans le développement web</li>
                <li>De m’autoformer à de nouvelles technologies</li>
            </ul>
        </div>

        {% include footer.html %}
    </body>
</html>
