<!doctype>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="main">
            <h1>Météobjob</h1>
            <p>
              Pour commencer la formation, nous avons dû faire un stage d’observation de 4 semaines, nous permettant d’acquérir des compétences et de confirmer notre choix d’option.
            </p>
            <p>
              J’ai eu la chance d’effectuer mon premier stage au sein du groupe Meteojob, qui est une société de recrutement et de conseils en ressources humaines.
            </p>
            <h1>Renault Digital</h1>
            <p>
              Dans le cadre de mon stage de 4 semaines chez Renault Digital, j'ai eu l'occaion de programmer en Java des processeurs pour NiFi.
            </p>
        </div>

        {% include footer.html %}
    </body>
</html>
