<!doctype>
<html>
    {% include head.html %}

    <body>
        {% include header.html %}

        <div class="main veille">
            <h1>VEILLE TECHNOLOGIQUE</h1>
            <h3>Qu'est-ce que la veille technologique ?</h3>
            <p>
                La veille technologique, élément de la veille stratégique, consiste à surveiller les évolutions techniques, les innovations dans un secteur d’activité donnée. La veille technologique comprend notamment la surveillance, la collecte, le partage et la diffusion d’information permettant d’anticiper ou de s’informer sur des changements en matière de recherche, développement, brevet, lancement de nouveaux produits, matériaux, processus, concepts, innovation de fabrication, etc…. Cela a pour but d’évaluer l’impact sur l’environnement et l’organisation.
            </p>
            <p>Pour ma part, j'ai choisi de faire ma veille technologique sur JavaScript.</p>
            <h3>Suivi d'informations de la veille technologique</h3>
            <p class="undLn">Plateformes</p>
            <ul>
                <li>Google Alerts</li>
                <li>Twitter</li>
                <li>LinkedIn</li>
            </ul>
            <p class="undLn">Mots-clés utilisés</p>
            <ul>
                <li>JavaScript</li>
                <li>React.js</li>
                <li>Vue.js</li>
                <li>Angular.js</li>
                <li>Node.js</li>
                <li>JS Library</li>
                <li>JS Framework</li>
            </ul>
            <h3>Comment sont traitées les informations ?</h3>
            <p>
                Concernant Google Alterts, les informations arrivent sous forme de mails. Dans tous les autres cas, je peux consulter les informations à tout moment sur les applications et sites de Twitter et LinkedIn.
            </p>
        </div>

        {% include footer.html %}
    </body>
</html>
